<div class='form-container'>
        <div class="box">
            <div class="box__side box__side--left">
                <svg version="1.1" class='icon' xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 382.117 382.117"
                    style="enable-background:new 0 0 382.117 382.117;" xml:space="preserve">
                    <path d="M336.764,45.945H45.354C20.346,45.945,0,65.484,0,89.5v203.117c0,24.016,20.346,43.555,45.354,43.555h291.41
	c25.008,0,45.353-19.539,45.353-43.555V89.5C382.117,65.484,361.772,45.945,336.764,45.945z M336.764,297.72H45.354
	c-3.676,0-6.9-2.384-6.9-5.103V116.359l131.797,111.27c2.702,2.282,6.138,3.538,9.676,3.538l22.259,0.001
	c3.536,0,6.974-1.257,9.677-3.539l131.803-111.274v176.264C343.664,295.336,340.439,297.72,336.764,297.72z M191.059,192.987
	L62.87,84.397h256.378L191.059,192.987z" />
                </svg>
                <div class='box__bq bq'>Please describe your product idea in a nutshell</div>
                <div class='box__bq bq'>We need your email to reach you back</div>
            </div>
            <div class="box__side box__side--right">
                <% if !flash.empty? %>
                    <div class='row'>
                        <% flash.each do |key, value| %>
                            <h1><%= value %></h1>

                        <% end %>

                    </div>
                <% else %>


                <%= form_for :article, html: {class: "form"}, url: {action: "create"} do |form| %>
                    <h1>Hire Us</h1>
                    <div class='row'>
                        <div class='col'>
                            <div class='field'>
                                <div class="field__label">Message</div>

                                <%= form.text_area :message, :required => true, :class => 'field__input input', :placeholder =>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text." %>
                                </div>
                        </div>
                        <div class='col col--2'>
                            <div class='field'>
                                <div class="field__label">Your name</div>

                                <%= form.text_field :name, :required => true, :class => 'field__input input', :placeholder =>"Michael Morris" %>
                            
                            </div>
                        </div>
                        <div class='col col--2'>
                            <div class='field'>
                                <div class="field__label">Your email</div>
                                
                                <%= form.text_field :email, :type => 'email', :required => true, :class => 'field__input input', :placeholder =>'Email' %>
                            </div>
                        </div>
                        <div class='col col--2'>
                            <a href='/' class='button button--secondary'>Cancel</a>
                        </div>
                        <div class='col col--2'>

                            <%= form.submit :Submit, class: 'button' %>
                            
                            
                        </div>
                    </div>

                <% end %>
                <% end %>


            </div>
        </div>
    </div>