/** =================== MONTSERRAT =================== **/


/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("Montserrat-Regular.eot");
    src: url("Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
         url("Montserrat-Regular.woff2") format("woff2"),
         url("Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: italic;
    src: url("Montserrat-Italic.eot");
    src: url("Montserrat-Italic.eot?#iefix") format('embedded-opentype'),
         url("Montserrat-Italic.woff2") format("woff2"),
         url("Montserrat-Italic.woff") format("woff");
}


/** Montserrat Black **/
@font-face {
    font-family: "Montserrat";
    font-weight: 900;
    font-style: normal;
    src: url("Montserrat-Black.eot");
    src: url("Montserrat-Black.eot?#iefix") format('embedded-opentype'),
         url("Montserrat-Black.woff2") format("woff2"),
         url("Montserrat-Black.woff") format("woff");
}
