/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 :root {
    --c-white: #ffffff;
    --c-bg: #e80047;
    --c-yellow: #fed620;
    --c-grey: #f2f4f4;
    --c-dark-grey: #a2a2a2;
    --c-red: #ec004b;
    --c-darken-red: #ca004b;
    --c-lighten-red: #e91558;

    --bs-light: 0px 5px 10px rgba(0,0,0,0.3);
    --bs-heavy: 0px 5px 20px rgba(0,0,0,0.5);
}

body {
    margin: 0;
    padding: 0;
    background: var(--c-bg);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

*, *:before, *:after {
    box-sizing: border-box;
}

/* Form-container */
.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;
    color: #333333;
}

/* Bq */
.bq {
    font-size: 14px;
    max-width: 140px;
    font-style: italic;
    font-size: 12px;
    line-height: 1.5em;
}

/* Button */
.button {
    display: inline-flex;
    background: var(--c-red);
    padding: 15px;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 900;
    color: white;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
    border-bottom: 3px solid var(--c-darken-red);
    outline: none;
    box-shadow: var(--bs-light);
}

.button:hover:not(.button--secondary) {
    background: var(--c-lighten-red);
}

.button:active:not(.button--secondary)  {
    transform: translateY(3px);
    border-bottom: 0px solid var(--c-darken-red);
    box-shadow: none;
}

.button--secondary {
    background: none;
    color: var(--c-red);
    border: none;
    box-shadow: none;
}

.button--secondary:hover {
    background: var(--c-grey);
    color: var(--c-lighten-red);
}

/* Icon */
.icon {
    width: 50px;
    height: 50px;
    fill: white;
}

/* Box */
.box {
    position: relative;
    display: flex;
    width: 100%;
    height: 480px;
    max-width: 800px;
    box-shadow: var(--bs-heavy);
    border-radius: 10px;
    overflow: hidden;
    background: var(--c-white);
}

.box__side {
    padding: 40px 60px;
}

.box__side--left {
    width: 240px;
    background: var(--c-yellow);
}

.box__side--right {
    flex: 1;
}

.box__bq {
    margin-top: 50px;
}


/* Form */
.form {
    min-height: 400px;
}

.form h1 {
    margin: 0;
    font-weight: 900;
    margin-bottom: 15px;
}

/* Field */
.field {
    position: relative;
}
.field__label {
    font-size: 10px;
    color: var(--c-dark-grey);
    margin-bottom: 10px;
}

/* Input/Textarea */
.input {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    width: 100%;
    background: var(--c-grey);
    box-shadow: none;
    -webkit-appearance: none;
    border: none;
    padding: 15px;
    outline: none;
    border-radius: 5px;
    line-height: 1.8em;
    box-shadow: inset 0px 11px 5px -10px #CCC;
}

textarea.input {
    resize: none;
    height: 100px;
}

/* Row */
.row {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-right: -15px;
}

/* Col */
.col {
    position: relative;
    width: 100%;
    padding: 15px;
}

.col--2 {
    width: 50%;
}

@media (max-width: 768px) {
    /* Box */
    .box {
        flex-direction: column;
    }

    .box__side {
        padding: 30px;
    }
    .box__side--left {
        display: flex;
        width: 100%;
    }

    .box__bq {
        margin-top: 0;
        margin-left: 30px;
    }
    /* Col */
    .col--2 {
        width: 100%;
    }
}